.Logo {
    background-color: white;
    position: fixed;
    height: 8%;
    z-index: 95;
    margin-top: -11%;
    margin-left: 45%;
    border-radius: 12%;
    right: 5px;
}

@media (max-width: 700px) and (max-height: 1000px){
    .Logo {
        margin-top: -15.2%;
    }  
}

.Logo img {
    height: 85%;
    padding-top: 3%;
}